{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Because Care Matters</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'home/lib/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'home/css/base.css' %}">
        {% block head_js %}{% endblock head_js %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img id="navbar-logo" src="{% static 'home/img/BCM.png' %}" alt="BCM">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'our_services' %}">Our Services</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Testimonials</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="">Training</a></li>
                            <li><a href="">Consultancy</a></li>
                            <li><a href="">Account</a></li>
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'register' %}">Register</a></li>
                            <li><a href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            {% block content %}
            
            {% endblock content %}
        </div>

    <!-- JS Scripts -->
    <script src="{% static 'home/lib/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'home/lib/js/bootstrap.min.js' %}"></script>
    </body>
</html>