{% extends "home/base.html" %}
{% load static %}
{% block head_css %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="{% static 'accounts/css/accounts.css' %}">
{% endblock head_css %}
{% block head_js %}
    <script src="{% static 'home/lib/js/jquery-3.2.1.min.js' %}"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#orderHistory').DataTable();
        });
    </script>
{% endblock head_js %}
{% block content %}
    <div class="col-md-3">
        <h4>Welcome, {{ user.first_name }}!</h4>
        <br>
        <ul id="side-nav">
            <li><a href="{% url 'change_name' request.user.id %}">Change Name</a></li>
            <hr class="hidden-xs">
            <li><a href="{% url 'change_email' request.user.id %}">Change Email Address</a></li>
            <hr class="hidden-xs">
            <li><a href="{% url 'change_password' request.user.id %}">Change Password</a></li>
        </ul>
    </div>
    <section class="col-md-9">
        <h3 class="text-center">Order History</h3>
        <table id="orderHistory">
            <thead>
                <tr>
                    <th class="hidden-xs">Type</th>
                    <th>Product</th>
                    <th class="hidden-xs">Date Booked</th>
                    <th>Amount Paid</th>
                    <th>Date Purchased</th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in training_purchases %}
                    <tr>
                        <td class="hidden-xs">Training</td>
                        <td>{{ purchase.training }}</td>
                        <td class="hidden-xs">
                            {% if purchase.has_passed %}
                                {{ purchase.training_date }}
                            {% else %}
                                <a href="{% url 'change_training' request.user.id purchase.id %}">{{ purchase.training_date }}</a>
                            {% endif %}
                        </td>
                        <td>£{{ purchase.amount_paid }}</td>
                        <td>{{ purchase.purchase_date }}</td>
                    </tr>
                {% endfor %}
                {% for purchase in consultancy_purchases %}
                    <tr>
                        <td class="hidden-xs">Consultancy</td>
                        <td>{{ purchase.consultancy }}</td>
                        <td class="hidden-xs">
                            {% if purchase.has_passed %}
                                {{ purchase.consultancy_date }}
                            {% else %}
                                <a href="{% url 'change_consultancy' request.user.id purchase.id %}">{{ purchase.consultancy_date }}</a>
                            {% endif %}
                        </td>
                        <td>£{{ purchase.amount_paid }}</td>
                        <td>{{ purchase.purchase_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock content %}
{% block foot_js %}{% endblock foot_js %}