{% extends "home/base.html" %}
{% load bootstrap_tags %}
{% load static %}
{% block content %}
    <h2 class="text-center">Update Your Password</h2>
    <div class="col-md-12">
        <section>
            <div class="col-md-12">
                <form method="post" action="{{ form_action }}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ change_password_form | as_bootstrap }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Submit Changes</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
{% endblock content %}