{% extends "home/base.html" %}
{% load bootstrap_tags %}
{% load static %}
{% block head_js %}
    <script src="{% static 'home/lib/js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'home/lib/js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        Stripe.publishableKey = '{{ publishable }}';
        var datesTaken = {{ dates_taken | safe }};
        $(function() {
            $( "#id_consultancy_date" ).attr('readonly', 'true');
            $( ".datepicker" ).datepicker({
                yearRange: "2018:2019",
                dateFormat: "dd/mm/yy",
                minDate: '1',
                beforeShowDay: function(date){
                    var string = jQuery.datepicker.formatDate('yy, m, d', date);
                    return [ datesTaken.indexOf(string) == -1 ]
                }
            });
        });
    </script>
    <script type="text/javascript" src="{% static 'services/js/stripe.js' %}"></script>
{% endblock head_js %}
{% block head_css %}
    <link rel="stylesheet" href="{% static 'home/lib/css/jquery-ui.min.css' %}">
{% endblock head_css %}
{% block content %}
    <h3 class="text-center">Your Purchase Details</h3>
    <br>
    <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
        <section>
            <div class="text-center alert alert-info">{{ consultancy.name }}<br>£{{ consultancy.price }}</div>
        </section>
    </div>
    <div class="col-md-9">
        <section>
            <form role="form" method="post" id="payment-form" action="{{ form_action }}">
                <div id="credit-card-errors" style="display: none;">
                    <div class="alert alert-danger" id="stripe-error-message"></div>
                </div>
                {% csrf_token %}
                {{ form | as_bootstrap }}
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" id="validate_card_btn" name="commit" value="Validate Credit Card">
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-3 hidden-xs">
        <section>
                <div class="text-center alert alert-info">{{ consultancy.name }}<br>£{{ consultancy.price }}</div>
        </section>
    </div>
{% endblock content %}
{% block foot_js %}{% endblock foot_js %}