table {
    font-size: 0.9em;
    /*border: black solid 1px;*/
}
td {
    /*padding: 3px;
    border: black solid 1px;*/
}
th {
    /*text-align: center;
    padding: 3px;
    border: black solid 1px;*/
}